/* Center the container*/
/* The width and height in CSS for canvas element do not affect pixel
   dimensions of the canvas, it only visually resize the canvas*/
#container {
 padding-top:50px;   
 margin:0 auto;
 width:480px;
}

/* Give canvas a background*/
canvas {
    background-color:black;
}